---
layout: default
---

<div class="d-flex flex-column row-grey-height">

  <div class="section-hello fixed-height fill d-flex justify-content-center align-items-center"  id="home">
    <div class="vertical-center-row">

      <div class="row">
        <div class="col">
          <h4>Hi, I'm Scott Thigpen</h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>And I'm a creative <span class="text-italics color-yellow" id="textswap"> person </span>.</h4>
        </div>
      </div>
    </div>
  </div>

<div class="row p-5 section-uiux" id="uiux">
  <div class="col-lg-6">
    {% include info_section.html
       section="code"
       title="UX"
       subtitle="User Experience"
        blurb="Some stuff about user ex"
        image="iterations.png"
        content="For over twenty years I've been a professional in the creative industry. I've illustrated for the Wall Street Journal, animated for Dreamworks, worked a successful startup as a Front End Developer/ UIUX Designer and raced across the country in the tougest mountain bike race in the world."
        linktopage="uxui.html" %}
  </div>
  <div class="col-lg-6">
    {% include info_section.html
       section="code"
       title="UI"
       subtitle="User Interface"
       blurb="Some stuff about user interfact"
       image="testitout.png" content="creative industry. I've illustrated for the Wall Street Journal, animated for Dreamworont End Developer/ UIUX Designer and raced across the country in the tougest mountain bike race in the world."
       linktopage="ui.html" %}
  </div>
</div>

<div class="p-5 section-about" id="code">
  <div class="col-lg-12">
    {% include info_section.html
      section="code"
      title="Front End Development"
      subtitle="I'm like Mark Haml on board the ES6 spaceship SASSing everyone"
      blurb="Some stuff about user interfact"
      image="code.png"
      content="creative industry. I've illustrated for the Wall Street Journal, animated for Dreamworont End Developer/ UIUX Designer and raced across the country in the tougest mountain bike race in the world."
      linktopage="code.html" %}
  </div>
</div>


  <div class="row p-5 section-illo" id="illustration">
    <div class="col-lg-6">
      {% include info_section.html
         section="illustration"
         title="Illustration" subtitle="Illustration" blurb="For over 20 years blah blah blah..." image="nuyu.jpg" content="For over twenty years I've been a professional in the creative industry. I've illustrated for the Wall Street Journal, animated for Dreamworks, worked a successful startup as a Front End Developer/ UIUX Designer and raced across the country in the tougest mountain bike race in the world." linktopage="illustration.html" %}
    </div>
    <div class="col-lg-6">
      {% include info_section.html
         section="animat
         ion" title="Animation" subtitle="Animation" blurb="Some stuff about user interfact" image="kedi.gif" content="creative industry. I've illustrated for the Wall Street Journal, animated for Dreamworont End Developer/ UIUX Designer and raced across the country in the tougest mountain bike race in the world." linktopage="animation.html" %}
    </div>
  </div>

<div class="p-5 section-about" id="About">
  <div class="col-lg-12">
    {% include info_section.html
       section="About
       Me" title="About Me" subtitle="Jack of all trades, master of a few of them." blurb="Some stuff about user interfact" image="me.JPG" content="creative industry. I've illustrated for the Wall Street Journal, animated for Dreamworont End Developer/ UIUX Designer and raced across the country in the tougest mountain bike race in the world." linktopage="animation.html" %}
  </div>
</div>
