---
layout: default
---

<div class="d-flex flex-column row-grey-height">

  <div class="section-hello fixed-height fill d-flex justify-content-center align-items-center"  id="home">
    <div class="vertical-center-row">

      <div class="row">
        <div class="col">
          <h4>Hi, I'm Scott Thigpen</h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>And I'm a creative <span class="text-italics color-yellow" id="textswap"> person </span>.</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="p-5 section-uiux" id="uiux">
    <div class="row">
      <h2 class="ml-2">ui/ux</h2>
    </div>
    <div class="row">
      <p class="ml-2 primary-color">I make notes on cocktail napkins and turn them into pixel perfect designs with empathy for both the user and developer.</p>
    </div>
    <div class="row">
      <div class="col-sm">
        <div>
          <h3 class="pt-3 primary-color">User Experience</h3>
          <p class="primary-color">
            "Empathy for the user" is my motto when it comes to making sure they have a good experience with a website or app.  I work meticulously to make sure all areas of an app and edge cases are addressed.
          </p>
          <p>
            Learn more by clicking <a href="pages/ui.html">here</a>.
          </p>
          <img class="image-size-lg" src="assets/img/iterations.png" />
        </div>
      </div>
      <div class="col-sm">
        <h3 class="pt-3 primary-color">User Interface</h3>
        <p class="primary-color">
          Pixel perfect designs are not just for looks but allows the development team to know exactly how a feature, app or website is supposd to look like and work.  I aim to make each design look exaclty like what the user would see.
        </p>
        <p>
          Learn more by clicking <a href="pages/ux.html">here</a>.
        </p>
        <img class="image-size-sm" src="assets/img/testitout.png" />
      </div>
    </div>
  </div>


  <div class="p-5 section-code" id="code">
    <div class="row">
      <h2 class="ml-2">Front End Development</h2>
    </div>
    <div class="row">
      <p class="ml-2 primary-color">I'm like Mark Haml on board the ES6 spaceship SASSing everyone</p>
    </div>
    <div class="row">
      <div class="col-sm">
        <div>
          <p class="primary-color">
            In addition to being a designer I am well versed in front end coding being able to develop my own designs into full blown code for websites.  This includes not only knowing HTML, CSS and Javascript but also knowing HAML, React, SASS, HTML5 and Boostrap.
          </p>
          <p>
            Learn more by clicking <a href="pages/code.html">here</a>.
          <img class="image-size-lg" src="assets/img/code.png" />
          </p>
        </div>
      </div>
    </div>
  </div>


    <div class="p-5 section-illo" id="illustration">
      <div class="row">
        <h2 class="ml-2">Illustration</h2>
      </div>
      <div class="row">
        <p class="ml-2 primary-color">One image for one thousand words</p>
      </div>
      <div class="row">
        <div class="col-sm">
          <div>
            <img class="image-size-lg" src="assets/img/nuyu.jpg" />
            <h3 class="pt-3 primary-color">Print Media</h3>
            <p class="primary-color">
              Sleep kitty scratches couch bad kitty so paw at beetle and eat it before it gets away or thinking longingly about tuna brine.
            </p>
            <p>
              Learn more by clicking <a href="pages/illustration.html">here</a>.
            </p>
          </div>
        </div>
        <div class="col-sm">
          <img class="image-size-sm" src="assets/img/kedi.gif" />
          <h3 class="pt-3 primary-color">Web and Animation</h3>
          <p class="primary-color">
            Sleep kitty scratches couch bad kitty so paw at beetle and eat it before it gets away or thinking longingly about tuna brine.
          </p>
          <p>
            Learn more by clicking <a href="pages/animation.html">here</a>.
          </p>
        </div>
      </div>
    </div>

  <div class="p-5 section-about" id="about">
    <div class="row pt-5 offset-200">
      <h2 class="ml-2 pt-5">About Me</h2>
    </div>
    <div class="row">
      <p class="ml-2 primary-color">Jack of all trades, master of a few of them.</p>
    </div>
    <div class="row">
      <div class="col d-flex flex-row">
        <div class="col-md-3">

          <img class="img-circle" src="assets/img/me.jpg" />
        </div>
        <div class="col-md-3">

          <h3 class="primary-color">Howdy y'all</h3>
          <p class="primary-color">
          For over twenty years I've been a professional in the creative industry.  I've illustrated for the Wall Street Journal, animated for Dreamworks, worked a successful startup as a Front End Developer/ UIUX Designer and raced across the country in the tougest mountain bike race in the world.
        </p>
        <p>
          Also I love my dog, Tess.
        </p>
        <p>
          Learn more by clicking <a href="pages/about.html">here</a>.
        </p>
      </div>
      </div>
    </div>
  </div>
