---
layout: default
---

<div class="d-flex flex-column row-grey-height">

  <div class="section-hello fixed-height fill d-flex justify-content-center align-items-center"  id="home">
    <div class="vertical-center-row">

      <div class="row">
        <div class="col">
          <h4>Hi, I'm Scott Thigpen</h4>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4>And I'm a creative <span class="text-italics color-yellow" id="textswap"> person </span>.</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="p-5 section-uiux" id="uiux">
    <div class="row">
      <div class="row d-flex">
        <div class="row">
          <h2 class="ml-2">UI/UX</h2>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-md-6">
          <div class="row d-flex justify-content-center">
            <div class="col-md-12 d-flex flex-column justify-content-center">
              <div class="row">
                <h2 class="ml-2">User Experience</h2>
              </div>
              <div class="row">
                <p class="ml-2 primary-color">Something about empathy</p>
                <div class="row">
                  <div class="col-sm">
                    <div class="col d-flex flex-row">
                      <div class="col-sm-4">
                        <img class="img-circle img-size-small" src="assets/img/iterations.png" />
                      </div>
                      <div  class="col-sm-8">
                        <p class="primary-color">
                          For over twenty years I've been a professional in the creative industry.  I've illustrated for the Wall Street Journal, animated for Dreamworks, worked a successful startup as a Front End Developer/ UIUX Designer and raced across the country in the tougest mountain bike race in the world.
                        </p>
                        <p>
                          Learn more by clicking <a href="pages/about.html">here</a>.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <div class="row d-flex justify-content-center">
            <div class="col-md-12 d-flex flex-column justify-content-center">
              <div class="row">
                <h2 class="ml-2">User Interface</h2>
              </div>
              <div class="row">
                <p class="ml-2 primary-color">Some ui words</p>
                <div class="row">
                  <div class="col-sm">
                    <div class="col d-flex flex-row">
                      <div class="col-sm-4">
                        <img class="img-circle img-size-small" src="assets/img/testitout.png" />
                      </div>
                      <div  class="col-sm-8">
                        <p class="primary-color">
                          For over twenty years I've been a professional in the creative industry.  I've illustrated for the Wall Street Journal, animated for Dreamworks, worked a successful startup as a Front End Developer/ UIUX Designer and raced across the country in the tougest mountain bike race in the world.
                        </p>
                        <p>
                          Learn more by clicking <a href="pages/about.html">here</a>.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


  <div class="p-5 section-code" id="code">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8 d-flex flex-column justify-content-center">
        <div class="row">
        <h2 class="ml-2">Front End Development</h2>
      </div>
      <div class="row">
        <p class="ml-2 primary-color">I'm like Mark Haml on board the ES6 spaceship SASSing everyone</p>
      <div class="row">
        <div class="col-sm">
          <div class="col d-flex flex-row">
            <div class="col-sm-4">
              <img class="img-circle img-size-small" src="assets/img/code.png" />
            </div>
            <div  class="col-sm-8">
              <p class="primary-color">
                In addition to being a designer I am well versed in front end coding being able to develop my own designs into full blown code for websites.  This includes not only knowing HTML, CSS and Javascript but also knowing HAML, React, SASS, HTML5 and Boostrap.
              </p>
              <p>
                Learn more by clicking <a href="pages/code.html">here</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    </div>
  </div>


<div class="p-5 section-illo" id="illustration">
  <div class="row">
    <div class="row d-flex">
      <div class="row">
        <h2 class="ml-2">Illustration</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 d-flex flex-column justify-content-center">
            <div class="row">
              <h2 class="ml-2">Print Media</h2>
            </div>
            <div class="row">
              <p class="ml-2 primary-color">For over 20 years blah blah blah...</p>
              <div class="row">
                <div class="col-sm">
                  <div class="col d-flex flex-row">
                    <div class="col-sm-4">
                      <img class="img-circle img-size-small" src="assets/img/nuyu.jpg" />
                    </div>
                    <div  class="col-sm-8">
                      <p class="primary-color">
                        For over twenty years I've been a professional in the creative industry.  I've illustrated for the Wall Street Journal, animated for Dreamworks, worked a successful startup as a Front End Developer/ UIUX Designer and raced across the country in the tougest mountain bike race in the world.
                      </p>
                      <p>
                        Learn more by clicking <a href="pages/about.html">here</a>.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="row d-flex justify-content-center">
          <div class="col-md-12 d-flex flex-column justify-content-center">
            <div class="row">
              <h2 class="ml-2">Web Animation</h2>
            </div>
            <div class="row">
              <p class="ml-2 primary-color">I worked for Shrek blah blah blah</p>
              <div class="row">
                <div class="col-sm">
                  <div class="col d-flex flex-row">
                    <div class="col-sm-4">
                      <img class="img-circle img-size-small" src="assets/img/kedi.gif" />
                    </div>
                    <div  class="col-sm-8">
                      <p class="primary-color">
                        For over twenty years I've been a professional in the creative industry.  I've illustrated for the Wall Street Journal, animated for Dreamworks, worked a successful startup as a Front End Developer/ UIUX Designer and raced across the country in the tougest mountain bike race in the world.
                      </p>
                      <p>
                        Learn more by clicking <a href="pages/about.html">here</a>.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>








    <div class="p-5 section-about" id="code">
      <div class="row d-flex justify-content-center">
        <div class="col-md-8 d-flex flex-column justify-content-center">
          <div class="row">
          <h2 class="ml-2">About Me</h2>
        </div>
        <div class="row">
          <p class="ml-2 primary-color">Jack of all trades, master of a few of them.</p>
        <div class="row">
          <div class="col-sm">
            <div class="col d-flex flex-row">
              <div class="col-sm-4">
                <img class="img-circle img-size-small" src="assets/img/me.JPG" />
              </div>
              <div  class="col-sm-8">
                <p class="primary-color">
                  For over twenty years I've been a professional in the creative industry.  I've illustrated for the Wall Street Journal, animated for Dreamworks, worked a successful startup as a Front End Developer/ UIUX Designer and raced across the country in the tougest mountain bike race in the world.
                </p>
                <p>
                  Learn more by clicking <a href="pages/about.html">here</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>
