// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 38rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

// footer {
//   margin-bottom: 5rem;
// }

.text-italics {
  font-family: serif;
  font-style: italic;
}

/* RGB */
$color1: rgba(52, 60, 90, 1);
$color2: rgba(212, 209, 203, 1);
$color3: rgba(129, 128, 222, 1);
$color4: rgba(136, 133, 162, 1);
$color5: rgba(94, 103, 157, 1);
$color6: rgba(118, 229, 224, 1);
$color7: rgba(244, 152, 137, 1);
$color10darken: darken($color1, 10%);
$color20darken: darken($color1, 20%);
$color30darken: darken($color1, 30%);

.section-hello {
  background: $color20darken;
}



.section-uiux {
  background: $color10darken;
}

.section-code {
  background: $color20darken;
}

.section-illo {
  background: $color10darken;
}

.section-about {
  background: $color20darken;
}

.section-nav {
  background: $color30darken;
}

.section-footer {
  background: $color30darken;
}

.section-body {
  background: $color30darken;
}

.vertical-center-row {
  text-align: center;
}

.page-content {
  // margin-top: 50px;
  background-color: $color20darken;
}

.fill {
    background-image:   /* top, transparent black, faked with gradient */
    linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ), url("/assets/img/vulcan.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}​

.-filter {
  background:
    linear-gradient(purple 0%, red 90%),
    linear-gradient(to right, purple 0%, yellow 90%),
    url('image.jpg') 30px,
    url('image.jpg') 20px;
  background-blend-mode: screen, difference, lighten;
}

.img-size-small {
  width: 75px;
}


.anchor {
  a.anchor {
      display: block;
      position: relative;
      top: -250px;
      visibility: hidden;
  }
}

.navbar, .bg-dark, .bg-color-change {
  background-color: $color20darken;
}

.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
